@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";
@import "./accessibility.css";

:root {
  --font-nunito-sans: 'Nunito Sans', sans-serif;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

html {
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}